body {
  background-color: rgb(251, 255, 235);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 50vw
}

:root {
  --body-color: #fcc5da;
  --body-shadow-color: #F98B99;
  --right-hand-color: #ffb1c6;
  --cheek-color: #F988BE;

  --white-color: #fff;
  --black-color:#000;
  --blue-color: #326BF7;

}

.my-kirby {
  position: relative;
  top: 20vh

}

.head {
  width: 400px;
  height: 400px;
  background-color: var(--body-color);
  border-radius: 50%;
  box-shadow: inset 10px -35px 60px 0 var(--body-shadow-color), 40px 20px 64px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.hand-left {
  position: absolute;
  width: 150px;
  height: 250px;
  background-color: var(--body-color);
  border-radius: 100% 100% 0 40%/100% 100% 0 100%;
  box-shadow: inset 0px -35px 60px 0 var(--body-shadow-color), 40px 20px 64px 0 rgba(0, 0, 0, 0.2);
  z-index: -1;
  transform: rotate(15deg);
  top: -90px;
  left: 50px;
}

.hand-right {
  position: absolute;
  width: 150px;
  height: 250px;
  background-color: var(--right-hand-color);
  top: 61px;
  left: 254px;
  z-index: -1;
  transform: rotate(90deg);
  border-radius: 100% 100% 0 40%/100% 100% 0 100%;
  box-shadow: inset 0px -45px 25px -5px var(--white-color), 40px 20px 64px 0 rgb(0 0 0 / 20%);
}

.eye {
  position: absolute;
  width:35px;
  height:91px;
  background-color: var(--black-color);
  border-radius: 50px/100px;
  transform: rotate(17deg);
  box-shadow: 0 0 3px var(--black-color);
}

.eye-left{
  top:70px;
  left: 200px;
}
.eye-right {
  top:87px;
  left:275px;
}

.eye-inner {
  background-color: var(--white-color);
  width:22px;
  height:30px;
  border-radius: 70px/100px;
  box-shadow: 0 0 3px var(--white-color);
  position: absolute;
  left: 7px;
  top:4.2px;
}

.eye-inner::before{
  content: '';
  position: absolute;
  width:22px;
  height:35px;
  background-color: var(--blue-color);
  border-radius: 70px/100px;
  left: 0;
  top: 47px;
  box-shadow: 0 0 3px var(--black-color);
}

.eye-inner::after{
  content: '';
  position: absolute;
  width:16px;
  height:16px;
  background-color: var(--black-color);
  border-radius: 70px/100px;
  left: 3px;
  top:46px;
  box-shadow: 0 0 9px 8px var(--black-color);
}

.cheek {
  width:60px;
  height: 30px;
  background-color: var(--cheek-color);
  border-radius: 50%;
  position: absolute;
  transform: rotate(20deg);
  box-shadow: 0 0 3px var(--cheek-color);
}

.cheek-left {
  top: 125px;
  left: 110px;
}

.cheek-right{
  top:185px;
  left:308px;
}